@use "../global" as *;

.l-contents {
  &__article {
    &-sentence {
      margin-top: 150px;
      margin-right: 20%;
      @include pc2 {
        margin-right: 10%;
      }
      @include sp {
        margin-right: 3%;
        margin-left: 10%;

        margin-top: 25px;
      }
    }
  }
}
