@use "../global" as *;

.l-footer {
  width: 100%;
  padding: 35px 0 0px 0px;
  background: url(../../画像/img/bg3.jpg);
  h2 {
    text-align: center;
    font-size: 2.4rem;
    margin-top: 5px;
  }

  > p {
    font-size: 1.2rem;

    text-align: center;
    line-height: 0.8;
    letter-spacing: 0.02em;
    margin: 60px auto 0 auto;
  }
  &__menu {
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: 0 auto;
    li {
      a {
        font-size: 1.8rem;
      }
    }
  }
  &__logo {
    width: 145px;
    margin: 0 auto;
    margin-top: 100px;
  }
  &__2colum {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    &:nth-of-type(1) {
      margin-top: 72px;
    }
    &:nth-of-type(2) {
      margin-top: 23px;
    }
    p {
      margin-left: 20px;
    }
  }

  &__under {
    width: 100%;
    text-align: center;
    background-color: $black;
    color: $white;
    padding: 20px 0;
  }
}
