@use "../global" as *;

.c-button {
  @include f_style2(1.4, 24, 0);
  font-weight: bold;
  width: 153px;
  height: 37px;
  color: $white;
  background: #978f10;
  padding: 7px 0px;
  text-align: center;
  white-space: nowrap;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6));
  border: none;

  &__contact {
    background: #978f10;
    cursor: pointer;
    color: $white;
    display: flex;
    width: 170px;
    font-size: 1.6rem;
    @include sp {
      width: 100px;
      font-size: 1.2rem;
    }
    text-align: center;
    padding: 16px 0;
    @include sp {
      padding: 8px 5px;
    }
    > img {
      width: 22px;
      height: 22px;
      margin: auto 10px auto 37px;
      @include sp {
        margin: auto 10px auto 6px;
      }
    }
  }
  &2 {
    font-size: 1.6rem;
    border: 1px solid #707070;
    width: 200px;
    text-align: center;
    padding: 20px 45px;
    @include tab {
      margin: 0 auto;
      padding: 20px 30px;
    }
  }

  &__form {
    text-align: center;
    margin-top: 27px;
  }
}

.c-ham-btn {
  display: none;
  @include tab {
    display: flex;
  }
  position: relative;
  width: 40px;
  height: 50px;
  @include sp {
    height: 35px;
  }
  z-index: 98;
  cursor: pointer;
  margin-top: 14px;

  margin-right: 5%;
  @include sp {
    margin-top: 5px;
    margin-right: 0;
  }

  span {
    position: absolute;
    left: 7px;
    width: 36px;
    @include sp {
      width: 30px;
    }
    height: 7px;
    transition: all 0.4s;
    background-color: $white;
    &:nth-of-type(2) {
      top: 12px;
    }
    &:nth-of-type(3) {
      top: 25px;
    }
  }
}

#c-BTN1 {
  &.active {
    transform: rotate(360deg);
    transition: all 0.9s;
    margin-top: 25px;
    z-index: 100;
    span {
      &:nth-of-type(1) {
        top: 3px;
        transform: translateY(15px) rotate(-45deg);
        background-color: $white;
      }
      &:nth-of-type(2) {
        display: none;
      }
      &:nth-of-type(3) {
        top: 33px;
        transform: translateY(-15px) rotate(45deg);
        background-color: $white;
      }
    }
  }
}
