@use "../global" as *;

.p-article {
  margin: 49px 0 0 0;
  padding-bottom: 32px;
  &1 {
    background-image: url(../../画像/img/bg.jpg);
    width: 100%;
    padding-bottom: 80px;

    &__text {
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      text-orientation: upright;
      @include sp {
        writing-mode: unset;
      }
    }
    h2 {
      @include sp {
        margin-left: 4%;
      }
      &:nth-of-type(1) {
        margin-top: 65px;
        @include sp {
          margin-top: 0;
          padding-top: 70px;
        }
      }
      &:nth-of-type(2) {
        margin-top: 165px;
        margin-right: 9%;
        @include pc2 {
          margin-right: 2%;
        }
        @include sp {
          margin-top: 0;
        }
      }
    }
    h3 {
      margin-top: 443px;
      margin-right: 24%;
      @include pc2 {
        margin-right: 2%;
      }
      @include sp {
        margin-top: 20px;
        text-align: end;
      }
    }
  }
  &__2colum {
    display: flex;
    justify-content: space-between;
    margin-top: 106px;
    @include pc3 {
      margin-right: 0px;
    }
    @include tab {
      flex-direction: column;
      text-align: center;
    }
    &-img {
      width: 55%;
      @include tab {
        width: 70%;
        margin: 0 auto;
        margin-top: 50px;
      }
    }
  }
  &__section,
  &__section2 {
    p {
      margin: 75px 0;
    }
  }

  &__mark {
    width: 40px;
    margin: 0 50%;
    transform: translateX(-50%);
  }

  &2 {
    background-image: url(../../画像/img/bg02.jpg);
    background-repeat: round;

    margin-top: 92px;
    padding: 46px 0 158px 0;
    h1 {
      text-align: center;
      margin: 0 auto;
      margin-top: 20px;
      @include sp {
        font-size: 3rem;
      }
    }
    h4 {
      margin: 12px 0 32px 0;
    }

    &__3colum {
      display: flex;
      margin: 0 auto;
      justify-content: center;
      margin-top: 65px;
      @include sp {
        flex-direction: column;
        margin-top: 25px;
      }

      li {
        width: 33%;
        @include sp {
          width: 98%;
          margin-top: 25%;
        }
        margin-left: 2%;
        img {
          width: 88%;
          @include sp {
            width: 98%;
          }
        }
        br {
          @include pc2 {
            display: none;
          }
        }
      }
      p {
        @include sp {
          width: 98%;
        }
      }
    }
  }
  &3 {
    margin-top: 50px;
    h1 {
      text-align: center;
    }
    &__menu {
      display: flex;
      justify-content: center;
      li {
        margin-top: 45px;
        cursor: pointer;
        &:nth-of-type(1) {
          text-decoration: underline;
        }

        &:nth-of-type(2) {
          margin-left: 53px;
        }
      }
    }
    &__info,
    &__other {
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      @include sp {
        margin-top: 30px;
      }
      li {
        background-color: #f6f6f6;
        width: 48%;
        @include sp {
          width: 98%;
          margin: 30px auto;
        }
        margin-top: 49px;
        display: flex;
        padding: 15px 0;
        img {
          width: 100px;
        }
      }
      &-right {
        margin-left: 30px;
        p {
          margin-right: 40px;
        }
      }
    }

    &__info {
      display: flex;
    }
    &__other {
      display: none;
    }
  }
  &4 {
    background-image: url(../../画像/img/bg.jpg);
    margin-top: 60px;
    padding: 60px 0 110px 0;
    h1 {
      text-align: center;
    }
  }
  &__address {
    &-2colum {
      width: 100%;
      display: flex;
      @include sp {
        flex-direction: column;
      }
      margin-top: 50px;
      height: 480px;
      img {
        width: 55%;
        @include sp {
          width: 100%;
        }
      }
    }
    &-right {
      margin-left: 5%;
      h5,
      p {
        margin-top: 24px;
      }
      p {
        width: 120%;
        br {
          display: none;
        }
        @include pc3 {
          width: 100%;
        }
      }
    }
  }
  &__section {
    width: 46%;
    margin-top: 20px;
    margin-left: 8%;
    h1 {
      @include pc3 {
        font-size: 2.8rem;
      }
      @include sp {
        font-size: 2.4rem;
      }
    }
    p {
      @include pc3 {
        br {
          display: none;
        }
      }
      @include tab {
        br {
          display: flex;
        }
      }
      @include sp {
        font-size: 1.4rem;
      }
    }
    @include pc2 {
      margin-left: 3%;
    }
    @include tab {
      width: 100%;
    }

    &2 {
      h1 {
        @include pc3 {
          font-size: 2.8rem;
        }
      }
      margin-left: 12%;
      margin-top: 20px;
      @include pc2 {
        margin-left: 5%;
      }
    }
  }
}
