@use "../global" as *;

.p-article {
  margin: 49px 0 0 0;
  padding-bottom: 32px;
  &1 {
    background-image: url(../../画像/img/bg.jpg);
    width: 100%;
    padding-bottom: 80px;

    &__text {
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      text-orientation: upright;
    }
    h2 {
      &:nth-of-type(1) {
        margin-top: 65px;
      }
      &:nth-of-type(2) {
        margin-top: 165px;
        margin-right: 9%;
      }
    }
    h3 {
      margin-top: 443px;
      margin-right: 24%;
    }
  }
  &__2colum {
    display: flex;
    justify-content: space-between;
    margin-top: 106px;
    @include pc3 {
      margin-right: 0px;
    }
    @include tab {
      flex-direction: column;
    }
    &-img {
      width: 55%;
      @include tab {
        width: 70%;
        margin: 0 auto;
        margin-top: 50px;
      }
    }
  }
  &__section,
  &__section2 {
    p {
      margin: 75px 0;
    }
  }

  &__mark {
    width: 40px;
    margin: 0 50%;
    transform: translateX(-50%);
  }

  &2 {
    background-image: url(../../画像/img/bg02.jpg);
    background-repeat: round;

    margin-top: 92px;
    padding: 46px 0 158px 0;
    h1 {
      text-align: center;
      margin: 0 auto;
      margin-top: 20px;
    }
    h4 {
      margin: 12px 0 32px 0;
    }

    &__3colum {
      display: flex;
      margin: 0 auto;
      justify-content: center;
      margin-top: 65px;

      li {
        width: 33%;
        margin-left: 2%;
        img {
          width: 88%;
        }
      }
    }
  }
  &3 {
    margin-top: 50px;
    h1 {
      text-align: center;
    }
    &__menu {
      display: flex;
      justify-content: center;
      li {
        margin-top: 45px;
        &:nth-of-type(2) {
          margin-left: 53px;
        }
      }
    }
    &__info {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      li {
        background-color: #f6f6f6;
        width: 48%;
        margin-top: 49px;
        display: flex;
        padding: 15px 0;
        img {
          width: 100px;
        }
      }
      &-right {
        margin-left: 30px;
        p {
          margin-right: 40px;
        }
      }
    }
  }
  &4 {
    background-image: url(../../画像/img/bg.jpg);
    margin-top: 60px;
    padding: 60px 0 110px 0;
    h1 {
      text-align: center;
    }
  }
  &__address {
    &-2colum {
      width: 100%;
      display: flex;
      margin-top: 50px;
      height: 480px;
      img {
        width: 55%;
      }
    }
    &-right {
      margin-left: 5%;
      h5,
      p {
        margin-top: 24px;
      }
      p {
        width: 120%;
      }
    }
  }
  &__section {
    width: 46%;
    margin-top: 20px;
    margin-left: 8%;

    @include tab {
      width: 100%;
    }

    &2 {
      margin-left: 15%;
      margin-top: 20px;
    }
  }
}
