@use "../global" as *;

.u-mg {
  margin-bottom: 100px;
}
.u-mg2 {
  margin-top: 20px;
}

.u-mg3 {
  margin-top: 28px;
  margin-left: 42%;
  @include tab {
    margin-left: 0;
  }
  margin-bottom: 35px;
}

.u-center {
  text-align: center;
  margin-top: 98px;
}
